<ion-header>
  <ion-toolbar>
    <ion-icon
      class="close"
      slot="start"
      name="close"
      (click)="onClickClose()"
    ></ion-icon>
    <ion-title style="text-align: center;"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="add_items">
  <ion-item>
    <ion-label position="floating">Topic</ion-label>
    <ion-input type="text" [(ngModel)]="topic" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tell us your ideas</ion-label>
    <ion-input type="text" [(ngModel)]="notes" clearInput></ion-input>
  </ion-item>

  <ion-card class="add_button">
    <ion-button (click)="onClickSendIdea()" color="dark" expand="block">
      <ion-icon slot="start" name="swap-vertical-outline"></ion-icon>
      Send
    </ion-button>
  </ion-card>
</ion-content>
