.item_img {
  height: 5em;
  width: 5em;
}
.info_items {
  width: 100%;
  height: 9em;
}

.item_buttons * {
  margin-left: 2em;
  width: 5em;
}

.item {
  border: 1px solid grey;
  border-radius: 1em;
}

ion-searchbar {
  width: 87%;
  height: 70%;
  border-radius: 10px;
}

.tools {
  border-radius: 10em;
  height: fit-content;
}

.filter {
  display: block;
  width: 5%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
}

.items ion-item {
  align-content: center;
  margin: 0 auto;
}

.item {
  border-radius: 5px;
  border: 1px solid grey;
}
.slide {
  height: fit-content;

  width: 95%;
  align-content: center;
  margin: 0 auto;
  margin-top: 0.8em;
}
.report {
  margin-top: 2px;
}

.item_img {
  height: 5.5em;
  width: 5em;
}
.info_items {
  width: 100%;
  height: fit-content;
  font-size: x-small;
  margin-top: 0px;
}
.info_items * {
  margin-top: 0px;
  padding-top: 0px;
}

.item_buttons * {
  margin-left: 1em;
  width: 7em;
  margin-top: 0;
  font-size: x-small;
  font-weight: bold;
}
.like {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 1000;
  height: 1.8em;
  width: 1.8em;
}

.more_info * {
  float: left;
  margin-left: 4px;
}
.deletefavs {
  height: 1.8em;
  width: 1.8em;
  position: absolute;
  right: 0.6em;
}
