.item_img {
  height: 5em;
  width: 5em;
}
.info_items {
  width: 100%;
  height: 9em;
}

.item_buttons * {
  margin-left: 2em;
  width: 5em;
}

.item {
  border: 1px solid grey;
  border-radius: 1em;
}
