<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container-Login">
  <ion-card class="logo_img">
    <ion-card-content>
      <img class="main_img" src="./assets/gys/logo_transparent.png" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="inputMail"></ion-input>
      <div *ngIf="inputMailInvalid" class="invalidField">
        <ion-icon class="infoIcon" name="information-outline"></ion-icon>
        <span>Mail Invalid</span>
      </div>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="{{type}}" [(ngModel)]="inputPassword"></ion-input>
      <ion-icon
        *ngIf="seePasswd"
        name="eye-off-outline"
        slot="end"
        class="seepass"
        (click)="onClickSeePass()"
      ></ion-icon>
      <ion-icon
        *ngIf="!seePasswd"
        name="eye-outline"
        slot="end"
        class="seepass"
        (click)="onClickSeePass()"
      ></ion-icon>
      <div *ngIf="inputPasswordInvalid" class="invalidField">
        <ion-icon class="infoIcon" name="information-outline"></ion-icon>
        <span>Password Invalid</span>
      </div>
    </ion-card-content>
  </ion-card>

  <div>
    <a style="cursor: pointer;" (click)="onClickForgot()"
      >Forgot your password</a
    >
  </div>
  <div>
    <ion-button (click)="onClickSingIn()" color="dark">
      Sing In
    </ion-button>
  </div>
</ion-content>
