.add_items {
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.add_items ion-input {
  margin-top: 2em;
}
.add_items ion-button {
  margin-top: 2em;
}

ion-item {
  border-radius: 7px;
  width: 80%;
  height: fit-content;
  align-content: center;
  margin-top: 5px;
}
.add_button {
  height: fit-content;
}

.add_tittle {
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

ion-card ion-item {
  align-content: center;
  margin: 0 auto;
}
