<ion-content class="container-Start">
  <ion-card class="logo_img">
    <ion-card-content>
      <img class="main_img" src="./assets/gys/logo_transparent.png" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p>Its time to start doing your dreams more easy</p>

    <ion-card>
      <ion-card-content>
        <ion-button (click)="onClickSingIn()" expand="block" color="dark">
          Sing In
        </ion-button>
        <ion-button (click)="onClickSingUp()" expand="block" color="dark">
          Sing Up
        </ion-button>
        <ion-button (click)="onClick()" expand="block" color="danger">
          anonymous
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
