.container-Start
{
    margin: 100 auto;
}

.container-Start ion-card
{
   margin-top: 3em;
}

ion-card p{
    text-align: center;
    align-content: center;
    font-weight: 700;
    font-size: x-large;
    font-family: sans-serif;
}

// .logo_img img{
//     height: 15em;
//     width: 15em;
//     align-content: center;
//     text-align: center;
// }
.logo_img {
    margin: 0 auto;
    align-content: center;
    text-align: center;
}