ion-searchbar {
  width: 90%;
  height: 100%;
}

.filter {
  display: block;
  width: 5%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
}
.item_img {
  height: 5em;
  width: 5em;
}
.item_info {
  width: 100%;
  height: 100%;
}

.item_buttons {
  border: 1px solid red;
}
