.Nochats {
  align-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 25%;
}

.Nochats * {
  align-content: center;
  text-align: center;
}

.list ion-item {
  align-content: center;
  align-items: center;
}

.conversation {
  height: fit-content;
  border-radius: 5px;
  border: 1px solid grey;
  width: 95%;

  margin: 0 auto;
  margin-top: 1em;
}

.info_items {
  height: fit-content;

  font-size: medium;
  margin-top: 0px;
  margin-left: 1em;
}

.conver_img {
  height: 5.5em;
  width: 5em;
}

.delete {
  z-index: 1000;
}
