<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="logo_img">
    <ion-card-content>
      <img class="main_img" src="./assets/gys/logo_transparent.png" />
    </ion-card-content>
  </ion-card>
  <ion-card class="terms_text">
    <ion-card-content>
      <h2>G-Service Terms</h2>
      <p>
        BLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABALBABLABALBLBLALBALBLABLABLABLABLABLABLABLABLABLABLABL
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
