.top {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid;
  border-bottom: transparent;
  text-align: center;
  margin-top: 1em;
  color: black;
}

.card h6 {
  color: green;
  margin-top: 1em;
}

.card h6:hover {
  color: red;
}

h3 {
  color: black;
}

h1 {
  color: black;
}

h2 {
  color: black;
}
