.Acc {
  align-content: center;
}
.options * {
  padding-top: 1em;
  text-align: center;
  align-content: center;
}

.options ion-item {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
