<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="Acc">
  <ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6"><img src="" /></ion-col>
        <ion-col size="6"
          ><ion-row> <ion-label>Name</ion-label></ion-row
          ><ion-row> <ion-label>Info</ion-label> </ion-row
          ><ion-row>
            <ion-label
              ><ion-button (click)="onClickEditProfile()" color="dark">
                <ion-icon name="create-outline"></ion-icon> </ion-button
            ></ion-label> </ion-row
        ></ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-list class="options">
    <ion-item>
      <ion-label>My anouncements</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Settings</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>My favs</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Credits</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Terms</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Help</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
