<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="container-Regis">

  <ion-card class="logo_img">
    <ion-card-content>
      <img class="main_img" src="./assets/gys/logo_transparent.png">
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      
      <ion-label position="floating">Name: </ion-label>
      <ion-input  type="text" [(ngModel)]="name"></ion-input>
      <ion-label position="floating">E-Mail :</ion-label>
      <ion-input  type="text" [(ngModel)]="email"></ion-input>
      <ion-label position="floating">Password :</ion-label>
      <ion-input  type="password" [(ngModel)]="password"></ion-input>
      <div>
        <ion-item>
          <ion-label>Accept all the conditions</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
      
    
      </div>
   
    </ion-card-content>
  </ion-card>


  <div>  
    <ion-button (click)="onClick()" color="dark">

    Sing Up
   </ion-button>
  </div>
  <a href="/login">Alredy have account</a>




</ion-content>
