<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="options">
    <ion-item>
      <ion-icon name="contrast-outline"></ion-icon>
      <ion-toggle *ngIf="dm" (ionChange)="onDarkMode()" checked></ion-toggle>
      <ion-toggle *ngIf="!dm" (ionChange)="onDarkMode()"></ion-toggle>
      <ion-label *ngIf="!dm">Turn on Dark Mode</ion-label>
      <ion-label *ngIf="dm">Turn off Dark Mode</ion-label>
    </ion-item>
    <ion-item (click)="onClickResetPassword()">
      <ion-icon name="refresh-circle-outline"></ion-icon>
      <ion-label>Reset Password</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
